<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>おっけんてぃー</title>
</head>
<body>
  <form action="/pic" method="post" enctype="multipart/form-data">
    <p>あだ名をひらがなでいれてね！(伸ばし棒や記号は省略！):<input type="text" name="name"></p>
    <p>すきな色をいれてね！:<input type="color" name="color"></p>
    <p>おっけんてぃーしている画像をいれてね！:<input type="file" name="pic"></p>
    <p> <input type="submit" value="出力"></p>
  </form>
 </body>